.button {
  padding: 8px 12px 8px 12px;
  background: #374151;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
  line-height: 20px;
  font-feature-settings: 'salt' on;
}

.button:disabled {
  background-color: #E5E7EB;
}

@media only screen and (max-width: 450px) {
  .button {
    width: 100%;
  }
}